body {
 /*  background-color: black; */
  font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom, #ffffff 50%, #f0f0f0 51%, #ffffff 100%);
    background-size: 100% 50px; /* Ajusta la altura de las ondas */
    animation: wave 5s linear infinite alternate; /* Crea una animación de ondas */

}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Regular.ttf') format('truetype'); /* Cambia la ruta según la ubicación de tus archivos */
  font-weight: normal;
  font-style: normal;
}

@keyframes wave {
  0% {
    background-position-y: 0; /* Comienza desde arriba */
  }
  100% {
    background-position-y: 50px; /* Termina en la parte inferior */
  }
}